
<nav class="navbar navbar-expand-lg bg-primary p-3" >
    <div class="container-fluid" style="margin-right: 2%;">
      <a class="navbar-brand fs-3 " routerLink="home" style="color: rgb(202, 154, 178);"><b>ManageEmp</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active fs-5 pe-auto" aria-current="page" routerLink="home" style="color: white;" *ngIf="isLoggedIn()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 pe-auto" routerLink="getEmployees" style="color: white;" *ngIf="isLoggedIn()">All Employees</a>
          </li>
         
        </ul>
        
        <div style="margin-right: 20px;"><button mat-flat-button color="primary" 
          style="height: 30px; background-color: rgb(194, 46, 46);" (click)="openDialogForEmpAdding()" *ngIf="isLoggedIn()  &&  getRole() ==='ADMIN'"><i class="bi bi-person-plus-fill" ></i>Add Employee </button></div>
        <div><button *ngIf="!isLoggedIn()" mat-flat-button color="primary" 
          style="height: 30px; background-color: rgb(194, 46, 46);" (click)="openDialog()">SignIn </button></div>
          <div><button  *ngIf="isLoggedIn()" mat-flat-button color="primary" 
            style="height: 30px; background-color: rgb(194, 46, 46);" (click)="logout()" >LogOut</button></div>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
 

  